body { 
    background-color: lightblue;
    text-align: center;
    font-family:"Lucida Handwriting";
    color: darkcyan; 
}

img {
    width: 200px;
    height: 200px;
    border: 1px solid black;

}